---
language_tabs:
  - shell
---

{{# sections }}
# {{ resource_name }}

{{# examples }}

## {{description}}
{{explanation}}

{{#requests}}

> cURL

```shell
{{{curl}}}
```

### HTTP Request

`{{endpoint}}`
{{/ requests}}


{{# has_parameters? }}
### Parameters
<table class="parameters table table-striped table-bordered table-condensed">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Type</th>
</tr>
</thead>
<tbody>
{{# parameters }}
<tr>
<td{{# required }} class="required"{{/ required }}>
<span class="name">{{ name }}</span>
</td>
<td>
<span class="description">{{ description }}</span>
</td>
<td>
<span class="type">{{ extra }}</span>
</td>
</tr>
{{/ parameters }}
</tbody>
</table>
{{/ has_parameters? }}

{{# has_request_body? }}

### Sample Request

```json
{{{ pretty_request_body }}}
```
{{/ has_request_body? }}

{{# has_response_body? }}

### Sample Response

```json
{{{pretty_response_body}}}
```
{{/ has_response_body?}}


{{/ examples }}
{{/ sections }}

# Errors

The Bigcommerce API uses the following error codes:


Error Code | Meaning
---------- | -------
400 | Bad Request -- Your request is malformed
401 | Unauthorized -- Your API key is wrong
403 | Forbidden -- The resource requested is hidden for administrators only
404 | Not Found -- The specified resource could not be found
406 | Not Acceptable -- You requested a format that isn't json
410 | Gone -- The resource requested has been removed from our servers
500 | Internal Server Error -- We had a problem with our server. Try again later.
503 | Service Unavailable -- We're temporarially offline for maintanance. Please try again later.



