## {{description}}

{{#requests}}

<pre>
{{curl}}
</pre>
> The above command returns JSON structured like this:

<pre>
{{response_body}}
</pre>

### HTTP Request

`{{request_method}} {{host}}{{request_path}}`
{{/ requests}}
