---
language_tabs:
  - shell
---

{{# sections }}
# {{ resource_name }}

{{# examples }}

## {{description}}
{{explanation}}

{{#requests}}

> cURL

```shell
{{{curl}}}
```

{{# has_request_body? }}

> Sample Request

```json
{{{ pretty_request_body }}}
```
{{/ has_request_body? }}

{{# has_response_body? }}

> Sample Response

```json
{{{pretty_response_body}}}
```
{{/ has_response_body?}}

### HTTP Request

`{{endpoint}}`
{{/ requests}}

{{# has_request_params? }}
### Request Parameters
<table>
  <thead>
    <tr>
      <th class="heading-name">Name</th>
      <th class="heading-type">Type</th>
      <th class="heading-notes">Implementation notes</th>
    </tr>
  </thead>
  <tbody>
    {{# parameters }}
      {{# in_request }}
        <tr>
          <td>
            <span class="name">{{# required }}<!--span class="required">*</span-->{{/ required }}{{ name }}</span>
          </td>
          <td>
            <span class="type">{{ type }}</span>
          </td>
          <td>
            <span class="description">{{ description }}</span>
          </td>
        </tr>
      {{/ in_request }}
    {{/ parameters }}
  </tbody>
</table>

{{/ has_request_params? }}

{{# has_response_params? }}
### Response Parameters

<table>
  <thead>
    <tr>
      <th class="heading-name">Name</th>
      <th class="heading-type">Type</th>
      <th class="heading-notes">Implementation notes</th>
    </tr>
  </thead>
  <tbody>
    {{# parameters }}
      {{# in_response }}
        <tr>
          <td>
            <span class="name">{{# required }}<!--span class="required">*</span-->{{/ required }}{{ name }}</span>
          </td>
          <td>
            <span class="type">{{ type }}</span>
          </td>
          <td>
            <span class="description">{{ description }}</span>
          </td>
        </tr>
      {{/ in_response }}
    {{/ parameters }}
  </tbody>
</table>
{{/ has_response_params? }}

{{/ examples }}
{{/ sections }}

# Errors

The Bigcommerce API uses the following error codes:


Error Code | Meaning
---------- | -------
400 | Bad Request -- Your request is malformed
401 | Unauthorized -- Your API key is wrong
403 | Forbidden -- The resource requested is hidden for administrators only
404 | Not Found -- The specified resource could not be found
406 | Not Acceptable -- You requested a format that isn't json
410 | Gone -- The resource requested has been removed from our servers
500 | Internal Server Error -- We had a problem with our server. Try again later.
503 | Service Unavailable -- We're temporarially offline for maintanance. Please try again later.



